<footer class="footer footer-default">
    <div class="container">
        <nav class="float-right">
            <ul>
                <li><a href="https:/www.flatlanders-store.com/ ">
                        Inicio</a></li>
                <li><a href="https:/www.flatlanders-store.com/presentation ">
                        Acerca de nosotros</a></li>
                <li><a href="https:/www.flatlanders-store.com/blog ">
                        blog</a></li>
                <li><a href="https:/www.flatlanders-store.com/license ">Licencias</a></li>
            </ul>
        </nav>
    </div>
</div>


</footer>