

    <div class="page-header" data-parallax="true" style="background-image: url('./images/bck/mb-bg-fb-03.png');">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="title">Encuentra las mejores gemas</h1>
                    <h4>En flatlanders tenemos aquella joya que necesitas para crear energia o darle a tu querida</h4>
                    <br>
                    <a href="https://www.youtube.com/watch?v=7Hk5A_TrLKg" target="_blank"
                        class="btn btn-rose btn-raised btn-lg">
                        <i class="fa fa-play"></i> Mira nuestro video
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card card-raised card-carousel">
                <div class="carousel slide" id="carousel" data-ride="carousel" data-interval="2000">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel" data-slider-to="0"></li>
                        <li data-target="#carousel" data-slider-to="1" class="active"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active carousel-item-left">
                            <img src="./images/bck/banner1.png" alt="first slide" class="d-block w100">
                            <div class="carousel-caption d-none d-md-block">
                                <h4>
                                    <i class="material-icons">loyalty</i>
                                    promocion 1
                                </h4>
                            </div>
                        </div>
                        <div class="carousel-item carousel-item-next carousel-item-left">
                            <img src="./images/bck/banner2.png" alt="first slide" class="d-block w100">
                            <div class="carousel-caption d-none d-md-block">
                                <h4>
                                    <i class="material-icons">loyalty</i>
                                    promocion 2
                                </h4>
                            </div>
                        </div>
                    </div>
                    <a href="#carousel" class="carousel-control-prev" role="button" data-slide="prev">
                        <i class="material-icons">keyboard_arrow_left</i>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a href="#carousel" class="carousel-control-next" role="button" data-slide="next">
                        <i class="material-icons">keyboard_arrow_right</i>
                        <span class="sr-only">Previous</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="main main-raised">
        <div class="container">
            <div class="section text-center">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto">
                        <h2 class="title">Hablemos de nuestro productos</h2>
                        <h5 class="description">Somos una familia que se dedica a ir a la mina a sacar las mejores gemas
                            del mercado, con el fin de que tu tengas el mejor producto y la mehor y la mejor calidad
                            para regalar</h5>

                    </div>
                </div>
                <div class="features">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="info">
                                <div class="icon icon-rose">
                                    <i class="material-icons">chat</i>
                                </div>
                                <h1 class="info-title">
                                    Platica con nosotros
                                </h1>
                                <p>Si tienes una duda sobre nuestros productos o algun problema con tu entrega o
                                    producto ya entregado
                                    platica con nosotros en nuestro chat para darle el mejor servicio al cliente que
                                    haya existido. </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="info">
                                <div class="icon icon-primary">
                                    <i class="material-icons">verified_user</i>
                                </div>
                                <h1 class="info-title">
                                    Compras verificadas
                                </h1>
                                <p>Tenemos la mejor entrega del mercado contamos con usuarios que nos han dado los
                                    mejores comentarios
                                    de los productos. Animate a comprar tu gema </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="info">
                                <div class="icon icon-rose">
                                    <i class="material-icons">weekend</i>
                                </div>
                                <h1 class="info-title">
                                    Entregas Comprobadas
                                </h1>
                                <p> Estamos seguros de que cuando pidas tu producto llegara en las mejores condiciones y
                                    de la
                                    mejor manera hasta tu sillon favorito</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <fav-products></fav-products>

        <div class="section text-center">
            <h2 class="title">Este es nuestro equipo</h2>
            <div class="team">
                <div class="row">
                    <div class="col-md-4">
                        <div class="team-player">
                            <div class="card card-plain">
                                <div class="col-md-6 ml-auto mr-auto">
                                    <img src="./images/profile/father.png" alt=""
                                        class="img-raised rounded-circle img-fluid">
                                </div>
                                <h4 class="card-title text-muted">
                                    Flatlanders Father
                                    <br>
                                    <small class="card-description text-muted">Fuerza Bruta</small>
                                </h4>
                                <div class="card-body">
                                    <p class="card-description">
                                        Soy el encargado de la familia, mi trabajo consiste en ir a la mina a obtener
                                        cada una de las gemas siempre logro impresionarme a mi mismo con las gemas que
                                        logro obtener
                                    </p>
                                </div>
                                <div class="card-footer justify-content-center">
                                    <a href="#father" class="btn btn-link btn-just-icon"><i
                                            class="fa fa-twitter"></i></a>
                                    <a href="#father" class="btn btn-link btn-just-icon"><i
                                            class="fa fa-instagram"></i></a>
                                    <a href="#father" class="btn btn-link btn-just-icon"><i
                                            class="fa fa-facebook-square"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="team-player">
                            <div class="card card-plain">
                                <div class="col-md-6 ml-auto mr-auto">
                                    <img src="./images/profile/kid.png" alt=""
                                        class="img-raised rounded-circle img-fluid">
                                </div>
                                <h4 class="card-title text-muted">
                                    Flatlanders Son
                                    <br>
                                    <small class="card-description text-muted">Gerente de Tienda</small>
                                </h4>
                                <div class="card-body">
                                    <p class="card-description">
                                        Yo estoy a cargo de ordenar la tienda, abrir y cerrarla, asi como atender a los
                                        clientes cuando nos visitan en tienda, espero pueda ayudarles con algo, no duden
                                        en preguntarme.
                                    </p>
                                </div>
                                <div class="card-footer justify-content-center">
                                    <a href="#son" class="btn btn-link btn-just-icon"><i class="fa fa-twitter"></i></a>
                                    <a href="#son" class="btn btn-link btn-just-icon"><i
                                            class="fa fa-instagram"></i></a>
                                    <a href="#son" class="btn btn-link btn-just-icon"><i
                                            class="fa fa-facebook-square"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="team-player">
                            <div class="card card-plain">
                                <div class="col-md-6 ml-auto mr-auto">
                                    <img src="./images/profile/mom-baby.png" alt=""
                                        class="img-raised rounded-circle img-fluid">
                                </div>
                                <h4 class="card-title text-muted">
                                    Flatlanders Mom
                                    <br>
                                    <small class="card-description text-muted">Diseñadora y Gerente de la tienda</small>
                                </h4>
                                <div class="card-body">
                                    <p class="card-description">
                                        Yo me encargo de los diseños de la tienda, siempre pongo todo con amor y el
                                        empeño en crear arte que permita que el usuario decida que producto comprar.
                                    </p>
                                </div>
                                <div class="card-footer justify-content-center">
                                    <a href="#mom" class="btn btn-link btn-just-icon"><i class="fa fa-twitter"></i></a>
                                    <a href="#mom" class="btn btn-link btn-just-icon"><i
                                            class="fa fa-instagram"></i></a>
                                    <a href="#mom" class="btn btn-link btn-just-icon"><i
                                            class="fa fa-facebook-square"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <d iv class="main main-raised">
            <div class="container">
                <div class="section text-center">
                    <div class="row">
                        <div class="col-md-8 ml-auto mr-auto">
                            <h1 class="title">Para el accesorio</h1>
                        </div>
                    </div>
                    <div class="features">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="info">
                                    <div class="icon icon-rose">
                                        <img style="max-width: 100%;" src="./images/gems/collar.jpg" alt="">
                                    </div>
                                    <h1 class="info-title">Anillos</h1>
                                    <div class="row">
                                        <div class="col-md-4 ml-auto mr-auto text-center">
                                            <button class="btn btn-rose btn-raised">
                                                Ver mas
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="info">
                                    <div class="icon icon-rose">
                                        <img style="max-width: 104%;" src="./images/gems/anillo.jpg" alt="">
                                    </div>
                                    <h1 class="info-title">Collares</h1>
                                    <div class="row">
                                        <div class="col-md-4 ml-auto mr-auto text-center">
                                            <button class="btn btn-rose btn-raised">
                                                Ver mas
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>



    <div class="section section-contacts">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <h2 class="text-center title"> ¿Tienes alguna duda?</h2>
                <h4 class="text-center description">Cualquier duda sobre nuestros productos sientate libre de enviarnos
                    un mensaje para estar en contacto y saber tu viaje por nuestra tienda</h4>
                <form class="contact-form">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="bmd-label-floating">Tu nombre</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="bmd-label-floating">Tu correo electronico</label>
                                <input type="email" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="message" class="bmd-label-floating">Danos amor en tu mensaje</label>
                        <textarea name="" id="message" rows="4" class="form-control"></textarea>
                    </div>
                    <div class="row">
                        <div class="col-md-4 ml-auto mr-auto text-center">
                            <button class="btn btn-rose btn-raised">
                                <i class="material-icons">favorite</i>
                                Envianos amor
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

